@font-face {
  font-family: 'Arial-MT';
  src: url("../assets/fonts/Arial-MT.woff"); /* Путь к файлу со шрифтом */
 }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 480px;
  min-height: 100vh;
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  color: #fff;
  text-align: center;
  background-blend-mode: multiply;
  transition: background-image 1s ease-in-out;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: 30vh;
  min-height: 220px;
  padding: 20px;
}

.player {
  transition: 1s;
}

.player-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 120px;
  margin-bottom: 28px;
}

.play-list {
  text-align: left;
}

.play-item {
  position: relative;
  padding: 5px;
  padding-left: 20px;
  list-style: none;
  opacity: .8;
  cursor: pointer;
  transition: .3s;
}

.play-item:hover {
  opacity: 1;
}

.play-item::before {
  content: "\2713";  
  position: absolute;
  left: 0;
  top: 2px;
  font-weight: 900;
}

.item-active::before {
  color: #C5B358;
}

.player-icon,
.slider-icon,
.change-quote,
.settings-icon {
  width: 32px;
  height: 32px;
  background-size: 32px 32px;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: 0;
  outline: 0;
  opacity: .8;
  cursor: pointer;
  transition: .3s;
}

.player-icon:hover,
.slider-icon:hover,
.change-quote:hover,
.settings-icon:hover {
  opacity: 1;
}

.settings-icon.active {
  opacity: 1;
}

.player-icon:active,
.slider-icon:active,
.change-quote:active,
.settings-icon:active {
  border: 0;
  outline: 0;
  transform: scale(1.1);
}

.play {
  width: 40px;
  height: 40px;
  background-size: 40px 40px;
  background-image: url("../assets/svg/play.svg");
}

.pause {
  background-image: url("../assets/svg/pause.svg");
}

.play-prev {
  background-image: url("../assets/svg/play-prev.svg");
}

.play-next {
  background-image: url("../assets/svg/play-next.svg");
}

.weather {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  row-gap: 5px;
  width: 180px;
  min-height: 180px;
  text-align: left;
  transition: 1s;
}

.weather-error {
  margin-top: -10px;
}

.description-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  column-gap: 12px;
}

.weather-icon {
  font-size: 44px;
}

.city {
  width: 170px;
  height: 34px;
  padding: 5px;
  font-size: 20px;
  line-height: 24px;
  color: #fff;  
  border: 0;
  outline: 0;
  border-bottom: 1px solid #fff;
  background-color: transparent;
}

.city::placeholder {
  font-size: 20px;
  color: #fff;
  opacity: .6;
}

.main {
  position: relative;
  z-index: 5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40vh;
  min-height: 260px;
  padding: 20px;
}

.slider-icon {
  position: absolute;
  top: 50%;
  margin-top: -16px;
  cursor: pointer;
}

.slide-prev {
  left: 20px;
  background-image: url("../assets/svg/slider-prev.svg");
}

.slide-next {
  right: 20px;
  background-image: url("../assets/svg/slider-next.svg");
}

.time {
  min-height: 124px;
  margin-bottom: 10px;
  font-family: 'Arial-MT';
  font-size: 100px;
  letter-spacing: -4px;
  visibility: visible;
  position: relative;
  transition: 1s;
  top: 0;
}

.time-hidden {
  opacity: 0;
  top: -50%;
}

.date {
  min-height: 28px;
  font-size: 24px;
  margin-bottom: 20px;
  transition: 1s;
}

.greeting-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: stretch;
  align-items: center;
  min-height: 48px;
  width: 90vw;
  font-size: 40px;
  position: relative;
  transition: 1s;
  bottom: 0;
}

.greeting-hidden {
  opacity: 0;
  bottom: -50%;
}

.greeting {
  flex: 1;
  padding: 10px;
  text-align: right;
}

.name {
  flex: 1;
  max-width: 50%;
  padding: 10px;
  font-size: 40px;
  text-align: left;
  color: #fff;
  background-color: transparent;
  border: 0;
  outline: 0;
}

.name::placeholder {
  color: #fff;
  opacity: .6;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  height: 30vh;
  min-height: 160px;
  padding: 20px;
}

.settings {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  color:#ffffff;
  font-size: 14px;
}

.settings-btn {
  position: relative;
  z-index: 100;
  width: 40px;
  height: 40px;
  background-size: 40px 40px;
  background-image: url("../assets/svg/settings.svg");
}

.settings-btn:active {
  transform: rotate(120deg);
  transition: transform .3s ease-out;
}

.settings-btn.active:active {
  transform: none;
  transition: none;
}

.setting-list {
  position: absolute;
  bottom: 50px;
  z-index: 10;
  width: 170px;
  height: 300px;
  background-color: #000000;
  opacity: .8;
  /* transition: all 1s ease-out; */
  animation: createSettingList 1s linear forwards;
}

@keyframes createSettingList {
  0% {
    opacity: 0;
  }
  100% {
    opacity: .8;
  }
}

.hidden {
  opacity: 0;
}

.settings-item {
  padding: 10px 0 10px;
  border-bottom: 1px solid #838383;
}

.settings-item:last-child {
  border: none;
}

.settings-attribute {
  font-weight: bold;
}

.settings-options {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  text-align: left;
}

.settings-option {
  margin-left: 10px;
  position: relative;
  padding: 5px;
  padding-left: 20px;
  list-style: none;
  opacity: .8;
  cursor: pointer;
  transition: .3s;
}

.settings-option:hover {
  opacity: 1;
}

.settings-active::before {
  content: "\2713";
  position: absolute;
  left: 0;
  top: 2px;
  font-weight: 900;
}

.quotes {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 80%;
  height: 30vh;
  min-height: 160px;
  padding: 0 20px 0 20px;
  position: relative;
  transition: 1s;
  bottom: 0;
}

.quotes-hidden {
  opacity: 0;
  bottom: -50%;
}

.change-quote {
  margin-bottom: 30px;
  background-image: url("../assets/svg/reload.svg");
}

.quote {
  min-height: 32px;
}

.author {
  min-height: 20px;
}

@media (max-width: 768px) {
  .time {
    min-height: 80px;
    font-size: 72px;    
  }

  .greeting-container {
    min-height: 40px;
    font-size: 32px;
  }

  .greeting {
    padding: 5px;
  }

  .name {
    font-size: 32px;
    padding: 5px;
  }
}